.login_screen {
  position: relative;
  height: 100vh;
  width: auto;
  background-image: url(../Images/backgroundlogin.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  z-index: 1;
}

.container-forgot-register {
  display: flex;
  justify-content: space-around;
}

.send-mail-form {
  background-color: #ffffff;
  min-width: 250px;
  max-width: 340px;
  padding: 40px 40px 10px 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ant-table
  .ant-table-container
  .ant-table-content
  table
  thead.ant-table-thead
  .ant-table-cell {
  background-color: #00b96b;
}

.ant-btn-primary {
  background-color: #20b2aa;
  border-color: #20b2aa;
}

.center-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
